.profile {
  &__title {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
  }

  &__main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;

    &__avatar,
    &__info,
    &__password {
      background: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 20px;
      width: 100%;
      max-width: 350px;
    }

    &__avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &__image_container {
        width: 150px;
        height: 150px;
        margin: 20px 0; // Add margin here to separate the title and the image
        position: relative;

        img {
          border-radius: 50%;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        .loader {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &__title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px; // Increase margin-bottom for more space
      }

      &__button {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
        background: #333;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background: #555;
        }
      }

      &__input {
        display: none;
      }

      &__filename {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        margin-top: 10px;
      }

      &__message {
        color: green;
        margin-top: 10px;
        font-size: 14px;
      }
    }

    &__info,
    &__password {
      h2 {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        input[type="text"],
        input[type="email"],
        input[type="number"],
        input[type="password"] {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
        }

        button {
          padding: 10px 20px;
          font-size: 16px;
          background: #333;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background 0.3s ease;

          &:hover {
            background: #555;
          }
        }
      }

      &__message {
        color: green;
        margin-top: 10px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}
