.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 10%;
  background-color: #000;
  color: #fff;
  position: fixed;
  &__button {
    background-color: #fff;
    border: none;
    padding: 12px 12px;
    margin-right: 10px;
    color: #000;
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
  }
}
